*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mainc{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.acordeon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #ffffff;
}

.accordion{
    width: 90%;
    margin: 20px;
}


.accordion-button{
    height: 50px;
}

.accordion-button h2{
    font-size: 25px !important;
}

.formatos h3{
    font-size: 20px;
    font-weight: 600;
    color: #005480;
}

.requisitos{
    font-size: 35px;
    font-weight: 600;
    color: #005480;
    margin: 30px;
}

.modulos ul li{
    list-style: decimal;
}

.formatos{
    display: flex;
}

.formatos h3,.formatos a{
    text-align: center;
}
.formatos a{
    outline: none;
    text-decoration: none;
    font-size: 20px;
    color: #d3bb37;
    border: solid 1px #979fbea1;
    font-weight: 500;
}

.formatos div{
    display: flex;
    justify-content: end;
    flex-direction: column;
    border: solid 1px #c7c7c7;
    padding: 10px;
}

.formatos div p{
    padding: 10px;
}

.slider2{
    margin-top:-50px !important;
}

.slider{
    overflow: hidden;
    width: 80%;
    /*width: 1100px;*/
    margin: 80px;
}

.slideres{
    display: flex;
    animation-name: scrol;
    animation-duration: .5s;
    animation: linear infinite;
    -webkit-animation: scrol 20s linear infinite;
    width: calc(240px * 10);
}

.slide{
    display: flex;
    
}

.slide img{
    width: 100px;
    height: 100px;
    margin: 15px;
}


@keyframes scrol {
    /*0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);

    }

    100%{
        -webkit-transform: translateX(calc(-100px * 10));
        transform: translateX(calc(-100px * 10));
        
    }*/

    0%{
        transform: translateX(0);

    }

    100%{
        transform: translateX(-50%);
        
    }

}

.slideres2{
    display: flex;
    animation-name: scrol2;
    animation: linear infinite;
    -webkit-animation: scrol2 20s linear infinite;
    width: calc(240px * 10);
}

@keyframes scrol2 {

    0%{
        transform: translateX(-50%);

    }

    100%{
        transform: translateX(0);
        
    }

}


@media(min-width:1300px){
    .accordion{
        width: 1200px;
    }

    .slider{
        width:1100px !important;
    }

}

@media(max-width:1300px){
    .accordion{
        width: 95%;
    }
}

@media(max-width:800px){
    .formatos{
        flex-direction: column;
    }

    
}

@media(max-width:300px){
    .requisitos{
        font-size: 25px;
        text-align: center;
        
    }

    
}