:root{
    /* colores */
    --primar-color: #D7C882;
    --secundari-color: #005480;
    --white: #fff;
    --font-color: #e8e8e8;
    --font-color-black: #616161;
    --subMenu-item: #868686;
    --primar-color-sub: #f4f3ee;

    /* tamaños */
    --max-width: 1200px;
}

/* clases importante */
.lenguage-activate{
    display: flex !important;
}


.basic__style{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.width__basic{
    width: 100%;
    max-width: var(--max-width);
}

.menu-open{
    clip-path: inset(0 0 0 0) !important;
}

/* loader */
.loader {
    width: 128px;
    height: 128px;
    margin-top: 30px;
    display: inline-block;
    position: relative;
    background: #FFF;
    border-radius: 15% 15% 35% 35%;
}

.loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 125px;
    top: 24px;
    border: 10px solid #FFF;
    width: 34px;
    height: 56px;
    border-radius: 0 4px 4px 0;
}

.loader::before {
    content: '';  
    position: absolute;
    width: 2px;
    height: 25px;
    color: #FFF;
    top: -29px;
    left: 50px;
    box-sizing: border-box;
    animation: animloader 1s ease infinite;
}

@keyframes animloader {
      0% {
    box-shadow: 2px 0px rgba(255, 255, 255, 0), 12px 0px rgba(255, 255, 255, 0.3), 20px 0px rgba(255, 255, 255, 0);
  }
      50% {
    box-shadow: 2px -5px rgba(255, 255, 255, 0.5), 12px -3px rgba(255, 255, 255, 0.5), 20px -2px rgba(255, 255, 255, 0.6);
  }
      100% {
    box-shadow: 2px -8px rgba(255, 255, 255, 0), 12px -5px rgba(255, 255, 255, 0), 20px -5px rgba(255, 255, 255, 0);
  }
}

.loader__bg{
    background-color: var(--secundari-color);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 99;
    clip-path: circle(100% at 50% 50%);
    transition: clip-path 0.8s ease-in-out;
}

.loader__bg-2{
    clip-path: circle(0% at 50% 50%);
}

/* header */
.header{
    position: relative;
    height: 100vh;
}

.header__menu-top{
    width: 100%;
    height: 2.5rem;
    background-color: var(--primar-color);
    display: flex;
    justify-content: center;
    z-index: 5;
}

.menu__top-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu__top-contact{
    display: flex;
    gap: .5rem;
    color: var(--white);
}

.contect__link{
    font-size: 13px;
}

.contect__link:hover{
    color: var(--font-color);
}

/* redes sociales */
.menu__top--social-media{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.social__media-icons{
    display: flex;
    gap: 2rem;
}

.social__icon{
    color: var(--white);
    font-size: 1rem;
}

.social__icon:hover{
    color: var(--font-color);
}

/* lenguajes */
.menu__top-lenguages{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: relative;
}

.btn_lenguage{
    color: var(--white);
    cursor: pointer;
    font-size: 13px;
}

.lenguage__option{
    background-color: var(--white);
    padding: .5rem;
    border-radius: .5rem;
    position: absolute;
    margin-top: 1.5rem;
    display: none;
}

.btn-option{
    font-size: 13px;
    color: var(--font-color);
}

.btn-option:hover{
    color: var(--font-color-black);
}

/* MENU PRINCIPAL*/
.header__menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
}

.menu__img{
    width: 8rem;
    height: 100%;
}

.menu__list{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.menu__list > li > a{
    padding: 40px 0px;
    font-weight: 600;
    color: var(--white);
}

.menu__close i{
    display: none;
}

/* SUB MENU */

.menu__list-item{
    height: 100%;
    position: relative;
}

.menu__list-item ul{
    width: 9rem;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    position: absolute;
    top: 6rem;
    padding: .8rem 0rem;
    visibility: hidden;
    opacity: 0; 
    z-index: 10;
    transition: all 300ms ease;
    border-radius: 5px;
}

.list__insti{
    width: 12rem !important;
}

.menu__list-item:hover ul{
    visibility: visible;
    opacity: 1;
    top: 5rem;
}

.menu__list-item ul li a{
    padding: 0px 0px 0px 15px;
    margin: .4rem 0rem;
    color: var(--subMenu-item);
}

.menu__list-item ul li a:hover{
    color: #000;
}

.none__click{
    cursor: default;
}

/* menu responsive */
.bugger__menu{
    width: 45px;
    height: 45px;
    background-color: var(--primar-color);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: var(--font-color);
    display: none;
}

/* portada */
.header__cortine{
    width: 100%;
    height: 100%;
    background: rgb(0,83,126);
    background: linear-gradient(90deg, rgba(0,83,126,1) 23%, rgba(0,83,126,0.4149257114955357) 61%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.header__portada img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: -2;
}

.header__titles{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    color: var(--white);
    top: 0;
    left: 0;
    cursor: default;
    user-select: none;
}

.header__titles h1{
    font-size: 5rem;
    font-weight: 600;
}

.header__titles p{
    font-size: 1.9rem;
}

/* main */
.main{
    background-color: var(--primar-color-sub);
}

.main__info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 5rem;
    cursor: default;
}

.info__title{
    display: flex;
    flex-direction: column;
    gap: .8rem;
    margin-bottom: 1.5rem;
}

.info__title h2{
    color: var(--secundari-color);
    font-size: 2.5rem;
    font-weight: 600;
}


.main__info p{
    font-size: 1.2rem;
    color: var(--font-color-black);
}


.info__title > p{
    font-size: 1rem;
}

.info__list{
    font-size: 1.2rem;
    color: var(--font-color-black);
}

/* cursos */
.main__cursos{
    display: flex;
    gap: 1rem;
    margin-top: 6rem;
    flex-direction: column;
}

.curso__title{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.curso__title h2{
    font-size: 2.5rem;
    color: var(--secundari-color);
    font-weight: 600;
}

.curso__title p{
    color: var(--font-color-black);
    font-size: 1rem;
}

.cursos__container{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.card__curse{
    width: 31%;
    height: 460px;
    background-color: var(--white);
    padding: .5rem;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.curso__img{
    overflow: hidden;
    border-radius: 5px;
    height: 350px;
}

.curso__img img{
    transition: all 300ms;
    width: 100%;
    height: 100%;
}

.card__curse:hover > .curso__img img{
    scale: 1.1;
}



.card__curse h3{
    font-size: 1.2rem;
    font-weight: 600;
}

.curso__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .3rem;
}

.curso__info p{
    color: var(--font-color-black);
    font-size: .9rem;
}

/* modal */

.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #333333f2;
    display: flex;
    z-index: 1000;
    --opacity: 0;
    --pointer: none;

    opacity: var(--opacity);
    pointer-events: var(--pointer);
    transition: opacity .5s;
}

.modal:target{
    opacity: 1;
    pointer-events: unset;
}

.modal__container{
    background-color: var(--white);
    width: 90%;
    height: 95%;
    max-width: 900px;
    margin: auto;
    padding: 2rem;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.modal__container::-webkit-scrollbar{
    width: 15px;
}

.modal__container::-webkit-scrollbar-thumb{
    background-color: var(--primar-color);
    border-radius: 10px;
}

.modal__close{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
}

.modal__close i{
    cursor: pointer;
    font-size: 1.2rem;
}

.modal__container h2{
    font-size: 3rem;
    line-height: 45px;
    text-align:  center;
    font-weight: 600;
}

.modal__img{
    margin-top: 2rem;
}

.modal__img img{
    border-radius: 5px;
}

.modal__info{
    color: var(--font-color-black);
    font-size: 1.2rem;
}

.modal__modulos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--font-color-black);
}

.modal__modulos p{
    font-size: 1.3rem;
    color: var(--secundari-color);
}

.modal__modulos ul{
    margin-left: 1rem;
}

.modal__modulos li{
    list-style: disc;
    margin-left: 1rem;
}

.modal__modulos li a{
    color: var(--secundari-color);
}

/* swiper tutores */
.swiper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 6rem;
    position: relative;
    margin-bottom: 4rem;
}

.swiper h2{
    color: var(--secundari-color);
    font-size: 2.5rem;
    font-weight: 600;
    padding: 2rem 0rem 0rem 0rem;
}

.swiper__paragraph{
    color: var(--font-color-black);
    font-size: 1rem;
    margin-bottom: 2rem;
}


.swiper-slide{
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	border-radius: 10px;
	padding: 40px;
	width: 650px;
	position: relative;
	overflow: hidden;
    cursor: default;
}

.swiper-slide::before{
    content: '';
    position: absolute;
    height: 300%;
    width: 173px;
    background: var(--primar-color);
    top: -60px;
    left: -125px;
    z-index: 0;
    transform: rotate(17deg);
}

.user__card-img {
    display: flex;
    justify-content: center;
    align-items: center;   
    z-index: 3;
  }
  
  .user__card-img img {
    width: 450px;
    height: 200px;
  }

  .user__card-info {
    text-align: center;
  }
  
  .user__card-info h3 {
    font-size: 24px;
    margin: 0;
    margin-bottom: 10px;
    color: var(--secundari-color);
  }
  
  .user__card-info p {
    font-size: 14px;
    margin-bottom: 2px;
  }
  .user__card-info p span {
     font-weight: 700;
     margin-right: 10px;
     color: var(--secundari-color);
 }

.tutor__arrow{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 60%;
    z-index: 99;
    font-size: 1.5rem;
    color: var(--secundari-color);
}

.tutor__arrow i{
    cursor: pointer;
}

.swiper__tutor-pagination{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer */
.footer{
    background-color: var(--secundari-color);
    padding: 2rem 0rem;
}

.footer__container{
    display: flex;
    gap: 2rem;
    border-bottom: 1px solid #d3d3d399;
    color: var(--font-color);
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
}

.footer__contact img{
    width: 120px;
    height: 120px;
}

.footer__tenic{
    display: flex;
    gap: 4rem;
}

.footer__soporte{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer__soporte h3{
    font-size: 1.3rem;
    font-weight: 600;
}

.footer__soporte ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


/* responsive  */
@media (max-width: 1330px){
    
    /* HEADER */
    .swiper__title{
        margin-left: 2%;
    }
    
    .swiper__title h1{
        font-size: 2.5rem;
    }

    .swiper__navegation-1{
        left: 0% !important;
    }
}

@media (max-width: 1200px){

    /* HEADER */

    .header{
        padding: 0% 7%;
        height: 95vh;
    }

    .width__basic{
        padding: 0% 2%;
    }

    .header__menu-top{
        display: none;
    }

    .menu__img{
        width: 7rem;
    }

    .header__menu{
        z-index: 20;
    }

    .menu__icons{
        height: 95vh;
        width: 95%;
        background-color: var(--white);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border-radius: 5px;
        padding: 2rem 1rem;
        clip-path: inset(0 0 100% 100%);
        transition: clip-path 0.1s ease-in-out;
    }

    .menu__list{
        flex-direction: column;
        align-items: flex-start;
        transform: translateZ(1px);
        z-index: 99;
    }

    .menu__list > li{
        width: 100%;
        padding: 0px 20px;
    }

    .menu__list > li > a{
        color: #000;
        padding: .5rem;
    }


    .menu__list-item{
        width: 100%;
    }

    .menu__list-item ul{
        position: relative;
        top: 0rem;
        display: flex;
        width: 100%;
        flex-direction: row;
        padding: .8rem 0rem;
        visibility: visible;
        opacity: 1; 
        z-index: 10;
        border-radius: 5px;
    }

    .list__insti{
        width: 100% !important;
    }

    .menu__list-item:hover ul{
        top: 0rem;
    }

    .bugger__menu{
        display: flex;
    }

    .menu__close{
        display: flex;
        justify-content: space-between;
    }

    .menu__close i{
        display: block;
    }
}

@media (max-width:1130px){
    .menu__list-item ul{
        flex-wrap: wrap;
    }
    /* cursor */
    .cursos__container{
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .card__curse{
        width: 48%;
    }
}

@media (max-width: 830px){
    /* header */
    .header__titles h1{
        font-size: 4rem;
    }

    .header__titles p{
        font-size: 1.5rem;
    }

    .cursos__container{
        justify-content: center;
    }

    .card__curse{
        width: 80%;
    }
}




  @media only screen and (min-width: 768px) {
    .swiper-slide {
      flex-direction: row;
      align-items: flex-start;
    }   
    .user__card-img {
      margin-right: 20px;
      margin-bottom: 0;
    }
  
    .user__card-info {
      text-align: left;
    }
  }
 
  @media (max-width: 767px){
    .swiper-slide::before {
       width: 300%;
       height: 200px;
       transform: rotate(0);
    }
    .user__card-info h3 {
       margin-top: 25px;
       font-size: 35px;
    }
    .user__card-info p span {
       display: block;
       margin-bottom: 15px;
       font-size: 18px;
    }

    .tutor__arrow{
        display: none;
    }

        /* footer */
        .footer__tenic{
            flex-wrap: wrap;
        }
    
        .footer__soporte{
            width: 45%;
            padding-bottom: 2rem;
        }
  }

  @media (max-width: 680px){
        /* header */
        .header__titles h1{
            font-size: 3rem;
        }
    
        .header__titles p{
            font-size: 1.2rem;
        }

        .modal__container{
            width: 100%;
            height: 100%;
        }

        .modal__container h2{
            font-size: 2rem;
            line-height: 45px;
        }
  }


@media (max-width: 500px){
    /* header */
    .header__titles h1{
        font-size: 2.5rem;
    }

    .header__titles p{
        font-size: 1.1rem;
    }
    /* cursos */
    .card__curse{
        width: 100%;
    }

    /* modal */
    .modal__container h2{
        font-size: 2rem;
        line-height: 45px;
    }

    .modal__info{
        font-size: 1rem;
    }
}

@media (max-width: 410px){
    /* header */
    .header__titles h1{
        font-size: 2.5rem;
        line-height: 40px;
        text-align: center;
    }

    .header__titles p{
        font-size: 1.1rem;
        text-align: center;
    }

    /* modal */
    .modal__container h2{
        font-size: 2rem;
        line-height: 45px;
    }

    .modal__info{
        font-size: 1rem;
    }

    /* swiper */
    .swiper h2{
        line-height: 40px;
    }
}

@media (max-width: 370px){
    .user__card-info h3{
        font-size: 2rem;
        line-height: 40px;
    }
}