*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item_carousel{
    animation: scroll 5s linear infinite;
    -webkit-animation: scroll 5s linear infinite;
    transition: all ease 20s;
}


@keyframes scroll{
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);

    }
    
    50%{
        -webkit-transform: translateX(calc(-145px * 3));
        transform: translateX(calc(-145px * 3));
        
    }

    100%{
        -webkit-transform: translateX(calc(-290px * 3));
        transform: translateX(calc(-290px * 3));
        
    }
}